@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #E7E5D9;
}

.masthead {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 3.5em;
	background: transparent url("../images/masthead-bg.png") repeat left center;
	text-align: center;
}

.title {
	display: inline-block;
	overflow: hidden;
	margin: 0 auto;
	width: 8em;
	height: 1.75em;
	background-color: #E7E5D9;
	background-image: url("../images/logo.svg"), url("../images/logo.svg");
	background-position: top left 0.5em, top right 0.5em;
	background-repeat: no-repeat;
	background-size: 40px 40px, 40px 40px;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.content {
	margin: 1.5em 0 0 0;
	padding: 8em 2em 6em;
	background-color: #87714F;
	background-image: url("../images/hat.svg"), url("../images/cuffs.svg");
	background-position: top 1em center, bottom 1em center;
	background-repeat: no-repeat;
	background-size: 85px 85px, 50px 50px;
	text-align: center;
}

.white-text {
	color: #FFF;
}

.crimes{
	text-align: left;
}

.portrait {
	display: block;
	margin: 0 auto;
	width: 100%;
	border-image:  url("../images/panel-border.png") 22 22 22 22 stretch stretch;
	border-width: 22px 22px 22px 22px;
}

.abril {
	font-family: 'Abril Fatface', cursive;
}
